:root {
    --main-color: #333;
    --decore-color: #cfff24;
    --background-color: #f4f4f4;
    --font-size: 16px;
    --max-width: 1400px;
    --padding: 10px;
    --border: 1px solid var(--main-color);
    --header-height: 100px;
    --footer-height: 200px;

    @media (min-width: 678px) {
        --padding: 10px 30px;
        --header-height: 70px;
        --footer-height: 120px;
    }

    @media (min-width: 1400px) {
        --padding: 10px 40px;
        --header-height: 70px;
        --footer-height: 120px;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--main-color);
    font-size: var(--font-size);
}


main {
    min-height: 100vh;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.game {
    width: 80vmin;
    height: 80vmin;
    position: relative;
    background: #eee;
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    padding: 10px;

    div {
        margin: auto;
        max-width: 200px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        button {
            flex: 1;
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }
    }

    h2, h4, h3{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 25px;
    }
}